.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e63946;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
 
}

.nav-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon {
  font-size: 1.2rem;
  cursor: pointer;
}
/* Navbar.css */

.logo-link {
font-size: 1.5rem;
font-weight: bold;
color: #333;
text-decoration: none;
}

.logo-link:hover {
color: #ff4a57;
}
.navbar-cart{
  .fa-shopping-cart, .fa-search{
    padding-right: 10px;
  }
}