.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  &:hover{
    color: #e63946;
  }
}

.nav-links , .nav-icons{
  list-style: none;
  display: flex;
  gap: 2rem;
  a{
    text-decoration: none;
    color: #333;
    
  }
  :hover{
    color: #e63946;
  }
}





.icon {
  font-size: 1.2rem;
  cursor: pointer;
}


.logo-link {
font-size: 1.5rem;
font-weight: bold;
color: #333;
text-decoration: none;
}

.logo-link:hover {
color: #ff4a57;
}
.navbar-cart{
  .fa-shopping-cart, .fa-search{
    padding-right: 10px;
  }
}
.icon-with-count {
  position: relative;
}

.cart-count, .favorite-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #ff5252;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
}
