/* src/assets/Shop.css */

.shop-container {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.dresses-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.dress-card {
  width: 320px; /* Set a fixed width for all cards */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.dress-card:hover {
  transform: scale(1.05);
}

.dress-image {
  width: 100%; /* Fill the card width */
  height: 250px; /* Set a consistent height for all images */
  object-fit: cover; /* Ensure the image scales proportionally */
}

.dress-name {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.dress-price {
  font-size: 1rem;
  color: #888;
  padding: 0 90px;
}
.p-dress-price{
  display: flex;
  justify-content: center;
 
}
.buy-button {
  padding: 10px;

  color: black;
  border: none;
  cursor: pointer;
  border-radius: 0 0 8px 8px;
  width: 100%;
  font-size: 1rem;
  margin: 10px 10px;
  border-color: #333;
}

.btn-alignment {
  display: flex;
}

.buy-button:hover {
  background-color: #e04444;
  color: #fff;
}

/* src/assets/Shop.css */

.favorites-count {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.fa-heart {
  cursor: pointer;
  color: black; /* Default color */
  transition: color 0.3s ease;
}

.fa-heart.active {
  color: red; /* Color when clicked (favorite) */
}
